Je krijgt van ons een csv bestand met de naam “persoonsgegevens.csv”. 
Het bestand bevat informatie van personen:
-	Kolom 1: het rijksregisternummer van de persoon
-	Kolom 2: de familienaam van de persoon
-	Kolom 3: de voornaam van de persoon

Een rijksregisternummer heeft volgend formaat: 
-	3 keer 2 cijfers onderling gescheiden door een punt; dit is de geboortedatum van de persoon in de vorm jj.mm.dd (eerste twee cijfers zijn de 2 laatste cijfers van het geboortejaar, dan een punt, dan twee cijfers overeenkomstig de geboortemaand, dan een punt en dan nog eens twee cijfers overeenkomstig de geboortedag)
-	Een streepje “-“
-	Drie cijfers: dit is volgnummer om personen die op dezelfde dag geboren zijn van elkaar te onderscheiden; vrouwen krijgen een even volgnummer, mannen een oneven volgnummer
-	Een punt
-	Twee cijfers die als controlegetal werken; hoe deze controle gebeurd is voor deze opgave niet van belang
Een vrouw geboren op 28 juli 1994 zou volgend rijksregisternummer kunnen hebben: 
94.07.28-124.89.
We wensen een applicatie te maken om een overzicht te creëren van het aantal geboortes per dag van de week. In dit overzicht worden de dagen van de week voorgesteld met de Engelstalige benamingen, dus van "Monday" tot "Sunday".
Vul in volgende de nodige stukjes code toe.

Lees het bestand "personal_data.csv" in een panda Dataframe met de naam "data"

In [25]:
import pandas as pd
import re

data = pd.read_csv("personal_data.csv", delimiter=";")

Controleer of dit goed gedaan is door een aantal van de eerste rijen te tonen.

In [26]:
data.head()

  rijksregisternummer      naam voornaam
0     94.07.25-124.89   Lemmens     Elke
1     96.99.11-133.71  Janssens      Jef
2    02.122.12-122.32      Elen  Marieke
3     99.07.01-005.56  Hendriks  Hendrik
4    93.07.25-1248.89   Lemmens     Elke

Wijzig de rijksregisternummers die niet aan het juiste formaat voldoen (beschouw voorlopig enkel als goed formaat : 2cijfers.2cijfers.2cijfers-3cijfers.2cijfers) door None.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

In [27]:
def check_rijksregisternummer(rrn):
    pattern = r'\d{2}\.\d{2}\.\d{2}-\d{3}\.\d{2}'
    if not pd.isna(rrn) and not bool(re.match(pattern, rrn)):
        return None
    return rrn

data["rijksregisternummer"] = data["rijksregisternummer"].apply(check_rijksregisternummer)
data.head()

  rijksregisternummer      naam voornaam
0     94.07.25-124.89   Lemmens     Elke
1     96.99.11-133.71  Janssens      Jef
2                None      Elen  Marieke
3     99.07.01-005.56  Hendriks  Hendrik
4                None   Lemmens     Elke

Wijzig de rijksregisternummers waarvan de eerste 8 tekens niet overeenkomen met een datum door None.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

In [28]:
from datetime import datetime

def check_rrn(rrn):
    if rrn is not None and isinstance(rrn, str):
        try:
            datum = datetime.strptime(rrn[:8], '%y.%m.%d')
            return rrn
        except ValueError:
            return None

data["rijksregisternummer"] = data["rijksregisternummer"].apply(check_rrn)
data.head()

  rijksregisternummer      naam voornaam
0     94.07.25-124.89   Lemmens     Elke
1                None  Janssens      Jef
2                None      Elen  Marieke
3     99.07.01-005.56  Hendriks  Hendrik
4                None   Lemmens     Elke

Schrap de rijen in het dataframe waarin de waarde None in één van de kolommen voorkomt.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Wijzig het dataframe door een kolom toe te voegen met de naam “geboortedatum” die de geboortedatum als datetime object voorstelt.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Wijzig het dataframe door een kolom toe te voegen met de naam “dag” die de dag in de week voorstelt dat de persoon geboren is; de dagen zijn de Engelstalige namen voor de dagen.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Voer volgend stukje code uit.

In [29]:
data["dag"] = pd.Categorical(data["dag"],["Monday","Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])
data.head()

KeyError: 'dag'

Toon een visueel overzicht in de vorm van een histogram van het aantal geboortes per dag van de week.